<?xml version="1.0" encoding="utf-8"?>
<impact>
  <use-shaders>true</use-shaders>
  <last-open-dir></last-open-dir>
  <frame-rate-limit>0</frame-rate-limit>
  <velocity-iterations>32</velocity-iterations>
  <position-iterations>64</position-iterations>
  <explosion>
    <particle-count>50</particle-count>
    <use-shaders>false</use-shaders>
  </explosion>
  <campaign>
    <last-level>1</last-level>
    <score>0</score>
  </campaign>
  <volume>
    <music>50</music>
    <soundfx>50</soundfx>
  </volume>
</impact>