<?xml version="1.0" encoding="utf-8"?>
<impact>
  <use-shaders>false</use-shaders>
  <explosion>
    <particle-count>50</particle-count>
    <use-shaders>false</use-shaders>
  </explosion>
  <campaign>
    <last-level>1</last-level>
    <score>0</score>
  </campaign>
  <last-open-dir></last-open-dir>
  <frame-rate-limit>240</frame-rate-limit>
  <volume>
    <music>100</music>
    <soundfx>20</soundfx>
  </volume>
</impact>