*.obj
*.sdf
*.opensdf
*.suo
deploy/*.exe
Impact/*.aps
Impact/Debug
Impact/Release
Impact/recordings
Impact/testlevels/multiball/*
Impact/testlevels/bumper/*
Impact/testlevels/bumper2/*
Impact/testlevels/bigbumper/*
glfw/Debug
glfw/Release
glew/Debug
glew/Release
ipch/*
*.vcxproj.user
*.psess
*.vsp
packages/*
Impact/nuget.exe
*.dgml
Release/*
Debug/*
Box2D/Box2D/Debug
Box2D/Box2D/Release
*.xesc
