*.obj
*.sdf
*.opensdf
*.suo
deploy/*.exe
Impact/Debug
Impact/Release
glfw/Debug
glfw/Release
glew/Debug
glew/Release
ipch/*
*.vcxproj.user
*.psess
*.vsp
packages/*
Impact/nuget.exe
*.dgml
Release/Impact.exe
Release/Impact.map
Release/Impact.pdb
Release/glew32.dll
Release/zlib.dll
Release/libsndfile-1.dll
Release/openal32.dll
Release/sfml-audio-2.dll
Release/sfml-graphics-2.dll
Release/sfml-system-2.dll
Release/sfml-window-2.dll
Release/sfml-network-2.dll
Debug/Impact.exe
Debug/Impact.map
Debug/Impact.pdb
Debug/glew32.dll
Debug/zlib.dll
Debug/libsndfile-1.dll
Debug/openal32.dll
Debug/sfml-audio-d-2.dll
Debug/sfml-graphics-d-2.dll
Debug/sfml-system-d-2.dll
Debug/sfml-window-d-2.dll
Debug/sfml-network-d-2.dll
